.reveal .slides {
  width: 800px;
  height: 600px; }
.reveal pre code {
  font-family: Consolas, Monaco; }
.reveal pre.code {
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  font: 20px Consolas, Monaco;
  margin: auto;
  border: 0px none;
  vertical-align: baseline;
  display: block;
  padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC; }
.reveal .editor-container {
  height: 520px;
  overflow: hidden;
  position: relative; }
  .reveal .editor-container .editor.ace_editor {
    height: 520px;
    font: 16px Consolas, Monaco;
    text-align: left; }
  .reveal .editor-container .editor .ace_gutter-layer {
    text-align: right; }
  .reveal .editor-container .editor .ace_gutter-cell {
    padding-left: 19px;
    padding-right: 6px; }
  .reveal .editor-container .editor .ace_fold-widget {
    box-sizing: border-box;
    margin: 0px -12px 0px 1px;
    display: none;
    width: 11px;
    vertical-align: top;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAANElEQVR42mWKsQ0AMAzC8ixLlrzQjzmBiEjp0A6WwBCSPgKAXoLkqSot7nN3yMwR7pZ32NzpKkVoDBUxKAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer; }
  .reveal .editor-container .editor .ace_cursor {
    border-left: 2px solid; }
  .reveal .editor-container .console-container {
    width: 800px;
    position: absolute;
    top: 520px;
    transition: top 0.5s ease-out;
    z-index: 9998;
    color: #2D8730;
    overflow: auto;
    background-color: #232323;
    padding: 10px;
    box-sizing: border-box; }
    .reveal .editor-container .console-container.show {
      top: 120px; }
    .reveal .editor-container .console-container button {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 9999;
      background-color: #0078e7;
      color: #fff;
      font-size: 14px;
      padding: 0.5em 1em;
      border: 0;
      border-radius: 2px;
      box-sizing: border-box;
      opacity: 0.25;
      transition: opacity 0.5s ease-out; }
    .reveal .editor-container .console-container button:hover {
      opacity: 1;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }
    .reveal .editor-container .console-container button:active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  .reveal .editor-container .console {
    height: 400px;
    overflow: auto; }
    .reveal .editor-container .console pre {
      font-family: Consolas, Monaco, monospace;
      font-size: 16px;
      padding: 8px 0;
      margin: 0;
      border-bottom: 1px solid #164116;
      white-space: pre;
      word-wrap: inherit;
      width: auto;
      box-shadow: none; }
      .reveal .editor-container .console pre.error {
        color: red; }

#module-name {
  font-size: 1.25em;
  font-family: 'Quicksand';
  width: 792px; }

#module-creator .editor-container {
  height: 480px; }
  #module-creator .editor-container .editor.ace_editor {
    height: 480px; }

.line-through {
  text-decoration: line-through; }
