// $slide-basis: 256px;
// $editor-text-size: 20px;
$slide-basis: 200px;
$editor-text-size: 16px;
$slide-width: $slide-basis * 4;
$slide-height: $slide-basis * 3;
$editor-height: $slide-height - 80px;
$console-diff: 100px;
$console-height: $editor-height - $console-diff;

.reveal {
  .slides {
    width: $slide-width;
    height: $slide-height;
  }

  pre {
    code {
      font-family: Monaco;
    }
  }

  pre.code {
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
    font: 20px Monaco;
    margin: auto;
    border: 0px none;
    vertical-align: baseline;
    display: block; padding: 0.5em;
    background: #3F3F3F;
    color: #DCDCDC;
  }

  .editor-container {
    height: $editor-height;
    overflow: hidden;
    position: relative;

    .editor {
      &.ace_editor {
        height: $editor-height;
        font: $editor-text-size Monaco;
        text-align: left;
      }

      .ace_gutter-layer {
        text-align: right;
      }

      .ace_gutter-cell {
        padding-left: 19px;
        padding-right: 6px;
      }

      .ace_fold-widget {
        box-sizing: border-box;
        margin: 0px -12px 0px 1px;
        display: none;
        width: 11px;
        vertical-align: top;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAANElEQVR42mWKsQ0AMAzC8ixLlrzQjzmBiEjp0A6WwBCSPgKAXoLkqSot7nN3yMwR7pZ32NzpKkVoDBUxKAAAAABJRU5ErkJggg==");
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;
        border: 1px solid transparent;
        cursor: pointer;
      }

      .ace_cursor {
        border-left: 2px solid;
      }
    }

    .console-container {
      width: $slide-width;
      position: absolute;
      top: $editor-height;
      transition: top .5s ease-out;
      z-index: 9998;
      color: #2D8730;
      overflow: auto;
      background-color: #232323;
      padding: 10px;
      box-sizing: border-box;

      &.show {
        top: $console-diff;
      }

      button {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 9999;
        background-color: #0078e7;
        color: #fff;
        font-size: $editor-text-size - 2;
        padding: .5em 1em;
        border: 0;
        border-radius: 2px;
        box-sizing: border-box;
      }

      button:hover {
        background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
      }

      button:active {
        box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
      }
    }
    .console {
      height: $console-height;

      pre {
        font-family: Monaco, monospace;
        font-size: $editor-text-size;
        padding: 8px 0;
        margin: 0;
        border-bottom: 1px solid #164116;
        white-space: pre;
        word-wrap: inherit;
        width: 100%;
        box-shadow: none;

        &.error {
          color: red;
        }
      }
    }
  }
}

#module-name {
  font-size: 1.25em;
  font-family: 'Quicksand';
  width: $slide-width - 8;
}

#module-creator {
  .editor-container {
    height: $slide-height - 120px;

    .editor {
      &.ace_editor {
        height: $slide-height - 120px;
      }
    }
  }
}
